In [1]:
import xml.etree.ElementTree as ET
import pandas as pd
import numpy as np
from datetime import datetime

# Load and parse the XML file
tree = ET.parse('source_data/clara/apple_watch.xml')
root = tree.getroot()

In [2]:

# Step 1: Extract all workouts
workouts = []
for workout in root.findall('Workout'):
    workout_type = workout.attrib.get('workoutActivityType')
    start_date = workout.attrib.get('startDate')
    end_date = workout.attrib.get('endDate')
    duration = workout.attrib.get('duration')
    total_energy = workout.attrib.get('totalEnergyBurned')

    workouts.append({
        'type': workout_type,
        'start': pd.to_datetime(start_date),
        'end': pd.to_datetime(end_date),
        'duration_min': float(duration) / 60 if duration else None,
        'calories': float(total_energy) if total_energy else None
    })

# Turn workouts into a DataFrame
df_workouts = pd.DataFrame(workouts)
print("Available workouts:")
print(df_workouts)

Available workouts:
                                                type  \
0                       HKWorkoutActivityTypeWalking
1                       HKWorkoutActivityTypeWalking
2   HKWorkoutActivityTypeTraditionalStrengthTraining
3   HKWorkoutActivityTypeTraditionalStrengthTraining
4   HKWorkoutActivityTypeTraditionalStrengthTraining
5                       HKWorkoutActivityTypeWalking
6                       HKWorkoutActivityTypeCycling
7                       HKWorkoutActivityTypeCycling
8                       HKWorkoutActivityTypeRunning
9                       HKWorkoutActivityTypeRunning
10                      HKWorkoutActivityTypeRunning
11                      HKWorkoutActivityTypeRunning
12                      HKWorkoutActivityTypeRunning
13                      HKWorkoutActivityTypeRunning
14                      HKWorkoutActivityTypeRunning
15                      HKWorkoutActivityTypeRunning
16                      HKWorkoutActivityTypeRunning
17                      HKWorkoutActivityTypeRunning
18                      HKWorkoutActivityTypeRunning
19                      HKWorkoutActivityTypeRunning
20                      HKWorkoutActivityTypeRunning
21                      HKWorkoutActivityTypeRunning
22                      HKWorkoutActivityTypeRunning
23                      HKWorkoutActivityTypeRunning
24                      HKWorkoutActivityTypeRunning
25                      HKWorkoutActivityTypeRunning
26                      HKWorkoutActivityTypeRunning
27                      HKWorkoutActivityTypeRunning
28                      HKWorkoutActivityTypeRunning
29                      HKWorkoutActivityTypeRunning
30                      HKWorkoutActivityTypeRunning
31                      HKWorkoutActivityTypeRunning
32                      HKWorkoutActivityTypeRunning
33                      HKWorkoutActivityTypeRunning
34                      HKWorkoutActivityTypeRunning
35                      HKWorkoutActivityTypeRunning
36                      HKWorkoutActivityTypeRunning
37                      HKWorkoutActivityTypeRunning
38                      HKWorkoutActivityTypeRunning
39                      HKWorkoutActivityTypeRunning
40                      HKWorkoutActivityTypeRunning
41                      HKWorkoutActivityTypeRunning
42                      HKWorkoutActivityTypeRunning
43                      HKWorkoutActivityTypeRunning
44                      HKWorkoutActivityTypeRunning
45                        HKWorkoutActivityTypeOther
46                        HKWorkoutActivityTypeOther
47                        HKWorkoutActivityTypeOther
48                        HKWorkoutActivityTypeOther
49                        HKWorkoutActivityTypeOther
50                        HKWorkoutActivityTypeOther
51                        HKWorkoutActivityTypeOther
52                        HKWorkoutActivityTypeOther
53                        HKWorkoutActivityTypeOther
54                        HKWorkoutActivityTypeOther
55                        HKWorkoutActivityTypeOther

                       start                       end  duration_min calories
0  2023-12-25 16:25:58+02:00 2023-12-25 17:48:04+02:00      1.368319     None
1  2023-12-25 17:48:07+02:00 2023-12-25 18:07:25+02:00      0.321722     None
2  2023-12-26 16:09:59+02:00 2023-12-26 16:18:41+02:00      0.145035     None
3  2023-12-26 16:19:57+02:00 2023-12-26 17:02:17+02:00      0.705549     None
4  2023-12-27 15:50:45+02:00 2023-12-27 17:25:32+02:00      1.579677     None
5  2023-12-29 16:06:07+02:00 2023-12-29 16:19:47+02:00      0.227720     None
6  2023-12-29 17:14:51+02:00 2023-12-29 17:24:09+02:00      0.154861     None
7  2023-12-29 17:48:12+02:00 2023-12-29 17:54:27+02:00      0.104239     None
8  2024-02-08 21:17:54+02:00 2024-02-08 21:37:47+02:00      0.331389     None
9  2024-02-08 21:16:37+02:00 2024-02-08 21:38:27+02:00      0.363936     None
10 2024-02-16 19:41:00+02:00 2024-02-16 20:09:55+02:00      0.481944     None
11 2024-02-19 13:26:58+02:00 2024-02-19 13:51:30+02:00      0.408889     None
12 2024-02-24 19:24:09+02:00 2024-02-24 19:58:10+02:00      0.566944     None
13 2024-03-02 19:16:50+02:00 2024-03-02 19:46:55+02:00      0.501389     None
14 2024-03-04 13:35:35+02:00 2024-03-04 14:00:44+02:00      0.419167     None
15 2024-03-27 20:40:31+02:00 2024-03-27 21:35:03+02:00      0.908889     None
16 2024-03-30 19:14:02+02:00 2024-03-30 19:42:52+02:00      0.480556     None
17 2024-04-01 18:04:46+02:00 2024-04-01 18:36:44+02:00      0.532778     None
18 2024-04-09 18:15:42+02:00 2024-04-10 16:15:50+02:00     22.002222     None
19 2024-04-11 18:36:33+02:00 2024-04-11 19:31:28+02:00      0.915278     None
20 2024-08-21 10:43:28+02:00 2024-08-21 11:14:16+02:00      0.513333     None
21 2024-09-02 12:35:33+02:00 2024-09-02 13:50:59+02:00      1.257222     None
22 2024-09-05 18:01:38+02:00 2024-09-05 18:31:38+02:00      0.500000     None
23 2024-09-08 19:05:12+02:00 2024-09-08 19:33:44+02:00      0.475556     None
24 2024-09-10 18:39:31+02:00 2024-09-10 19:11:03+02:00      0.525556     None
25 2024-09-12 18:25:55+02:00 2024-09-12 19:34:48+02:00      1.148056     None
26 2024-09-17 16:59:50+02:00 2024-09-17 17:27:56+02:00      0.468333     None
27 2024-09-29 15:48:35+02:00 2024-09-29 16:17:19+02:00      0.478889     None
28 2024-10-01 17:42:56+02:00 2024-10-01 18:11:18+02:00      0.472778     None
29 2024-10-05 15:31:59+02:00 2024-10-05 15:59:41+02:00      0.461667     None
30 2024-10-12 18:35:10+02:00 2024-10-12 19:00:43+02:00      0.425833     None
31 2024-10-15 18:58:36+02:00 2024-10-15 19:24:35+02:00      0.433056     None
32 2024-10-18 18:29:03+02:00 2024-10-18 18:45:59+02:00      0.282222     None
33 2024-10-21 18:40:18+02:00 2024-10-21 19:17:11+02:00      0.614722     None
34 2024-10-31 19:46:54+02:00 2024-10-31 20:14:26+02:00      0.458889     None
35 2024-11-11 19:45:35+02:00 2024-11-11 20:13:45+02:00      0.469444     None
36 2024-11-15 18:20:34+02:00 2024-11-15 18:47:28+02:00      0.448333     None
37 2024-11-25 19:37:54+02:00 2024-11-25 20:04:39+02:00      0.445833     None
38 2024-12-09 20:15:24+02:00 2024-12-09 20:32:03+02:00      0.277500     None
39 2025-03-22 19:39:26+02:00 2025-03-22 19:59:38+02:00      0.336667     None
40 2025-04-20 17:58:27+02:00 2025-04-20 18:27:24+02:00      0.482500     None
41 2025-05-16 17:46:35+02:00 2025-05-16 18:17:15+02:00      0.511111     None
42 2025-05-18 20:54:28+02:00 2025-05-18 21:22:06+02:00      0.460556     None
43 2025-05-24 19:05:27+02:00 2025-05-24 19:34:03+02:00      0.476667     None
44 2025-05-30 17:07:41+02:00 2025-05-30 18:05:21+02:00      0.961111     None
45 2025-06-04 16:30:38+02:00 2025-06-04 16:40:59+02:00      0.172500     None
46 2025-06-05 15:47:34+02:00 2025-06-05 16:20:34+02:00      0.550000     None
47 2025-06-05 16:25:55+02:00 2025-06-05 16:56:42+02:00      0.513056     None
48 2025-06-05 17:13:30+02:00 2025-06-05 17:44:25+02:00      0.515278     None
49 2025-06-05 17:58:54+02:00 2025-06-05 18:30:13+02:00      0.521944     None
50 2025-06-06 20:30:39+02:00 2025-06-06 20:55:43+02:00      0.417778     None
51 2025-06-06 21:22:23+02:00 2025-06-06 21:23:05+02:00      0.011667     None
52 2025-06-07 10:29:54+02:00 2025-06-07 10:52:14+02:00      0.372222     None
53 2025-06-07 11:30:09+02:00 2025-06-07 11:55:47+02:00      0.427222     None
54 2025-06-07 12:43:48+02:00 2025-06-07 12:46:49+02:00      0.050278     None
55 2025-06-07 12:55:58+02:00 2025-06-07 13:16:04+02:00      0.335000     None

In [3]:
comedy_workout = df_workouts.iloc[52]
documentary_workout = df_workouts.iloc[53]
horror_workout = df_workouts.iloc[55]

In [4]:
record_list = [x.attrib for x in root.iter('Record')]
record_data = pd.DataFrame(record_list)
record_data.type.unique()

array(['HKQuantityTypeIdentifierHeight',
       'HKQuantityTypeIdentifierBodyMass',
       'HKQuantityTypeIdentifierHeartRate',
       'HKQuantityTypeIdentifierRespiratoryRate',
       'HKQuantityTypeIdentifierStepCount',
       'HKQuantityTypeIdentifierDistanceWalkingRunning',
       'HKQuantityTypeIdentifierBasalEnergyBurned',
       'HKQuantityTypeIdentifierActiveEnergyBurned',
       'HKQuantityTypeIdentifierFlightsClimbed',
       'HKQuantityTypeIdentifierDietaryFatTotal',
       'HKQuantityTypeIdentifierDietaryFatPolyunsaturated',
       'HKQuantityTypeIdentifierDietaryFatMonounsaturated',
       'HKQuantityTypeIdentifierDietaryFatSaturated',
       'HKQuantityTypeIdentifierDietaryCholesterol',
       'HKQuantityTypeIdentifierDietarySodium',
       'HKQuantityTypeIdentifierDietaryCarbohydrates',
       'HKQuantityTypeIdentifierDietaryFiber',
       'HKQuantityTypeIdentifierDietarySugar',
       'HKQuantityTypeIdentifierDietaryEnergyConsumed',
       'HKQuantityTypeIdentifierDietaryProtein',
       'HKQuantityTypeIdentifierDietaryVitaminC',
       'HKQuantityTypeIdentifierDietaryCalcium',
       'HKQuantityTypeIdentifierDietaryIron',
       'HKQuantityTypeIdentifierDietaryPotassium',
       'HKQuantityTypeIdentifierAppleExerciseTime',
       'HKQuantityTypeIdentifierDistanceCycling',
       'HKQuantityTypeIdentifierRestingHeartRate',
       'HKQuantityTypeIdentifierVO2Max',
       'HKQuantityTypeIdentifierWalkingHeartRateAverage',
       'HKQuantityTypeIdentifierEnvironmentalAudioExposure',
       'HKQuantityTypeIdentifierHeadphoneAudioExposure',
       'HKQuantityTypeIdentifierWalkingDoubleSupportPercentage',
       'HKQuantityTypeIdentifierAppleStandTime',
       'HKQuantityTypeIdentifierWalkingSpeed',
       'HKQuantityTypeIdentifierWalkingStepLength',
       'HKQuantityTypeIdentifierWalkingAsymmetryPercentage',
       'HKQuantityTypeIdentifierStairAscentSpeed',
       'HKQuantityTypeIdentifierStairDescentSpeed',
       'HKDataTypeSleepDurationGoal',
       'HKQuantityTypeIdentifierAppleWalkingSteadiness',
       'HKQuantityTypeIdentifierRunningStrideLength',
       'HKQuantityTypeIdentifierRunningVerticalOscillation',
       'HKQuantityTypeIdentifierRunningGroundContactTime',
       'HKQuantityTypeIdentifierRunningPower',
       'HKQuantityTypeIdentifierEnvironmentalSoundReduction',
       'HKQuantityTypeIdentifierRunningSpeed',
       'HKQuantityTypeIdentifierTimeInDaylight',
       'HKQuantityTypeIdentifierPhysicalEffort',
       'HKCategoryTypeIdentifierSleepAnalysis',
       'HKCategoryTypeIdentifierAppleStandHour',
       'HKCategoryTypeIdentifierAudioExposureEvent',
       'HKCategoryTypeIdentifierHeadphoneAudioExposureEvent',
       'HKQuantityTypeIdentifierHeartRateVariabilitySDNN'], dtype=object)

In [5]:
def extract_health_data(start, end):
    target_types = {
        'HKQuantityTypeIdentifierHeartRate': 'heart_rate',
        'HKQuantityTypeIdentifierRespiratoryRate': 'respiratory_rate',
        'HKQuantityTypeIdentifierBasalEnergyBurned': 'basal_energy_burned',
        'HKQuantityTypeIdentifierActiveEnergyBurned': 'active_energy_burned',
        'HKQuantityTypeIdentifierVO2Max': 'vo2_max',
        'HKQuantityTypeIdentifierHeadphoneAudioExposure': 'headphone_audio_exposure',
        'HKQuantityTypeIdentifierPhysicalEffort': 'physical_effort',
        'HKCategoryTypeIdentifierAudioExposureEvent': 'audio_exposure_event',
        'HKQuantityTypeIdentifierHeartRateVariabilitySDNN': 'hrv_sdnn'
    }

    records = []

    for record in root.findall('Record'):
        record_type = record.attrib.get('type')
        if record_type in target_types:
            time = pd.to_datetime(record.attrib.get('startDate'))
            value_raw = record.attrib.get('value')
            try:
                value = float(value_raw)
            except (TypeError, ValueError):
                value = np.nan  # Use NaN for non-numeric values
    
            records.append({
                'time': time,
                'type': target_types[record_type],
                'value': value
            })

    df = pd.DataFrame(records)

    # Filter by time
    df = df[(df['time'] >= start) & (df['time'] <= end)]

    # Pivot: one column per type
    df_pivoted = df.pivot_table(index='time', columns='type', values='value', aggfunc='mean').reset_index()

    return df_pivoted

In [6]:
comedy_data = extract_health_data(comedy_workout['start'], comedy_workout['end'])
documentary_data = extract_health_data(documentary_workout['start'], documentary_workout['end'])
horror_data = extract_health_data(horror_workout['start'], horror_workout['end'])

In [7]:
print(len(comedy_data))
print(len(documentary_data))
print(len(horror_data))

0
4
3

In [52]:
print(comedy_data.columns)
print(documentary_data.columns)
print(horror_data.columns)

Index(['time', 'active_energy_burned', 'basal_energy_burned', 'heart_rate',
       'physical_effort'],
      dtype='object', name='type')
Index(['time', 'active_energy_burned', 'basal_energy_burned', 'heart_rate',
       'physical_effort'],
      dtype='object', name='type')
Index(['time', 'active_energy_burned', 'basal_energy_burned', 'heart_rate',
       'physical_effort'],
      dtype='object', name='type')

In [53]:
comedy_data

type,time,active_energy_burned,basal_energy_burned,heart_rate,physical_effort
0,2025-06-05 16:25:55+02:00,NaN,NaN,62.0,NaN
1,2025-06-05 16:25:56+02:00,0.077,0.066,NaN,NaN
2,2025-06-05 16:25:59+02:00,0.077,0.066,60.0,NaN
3,2025-06-05 16:26:01+02:00,0.077,0.066,NaN,NaN
4,2025-06-05 16:26:04+02:00,0.077,0.066,NaN,NaN
...,...,...,...,...,...
956,2025-06-05 16:56:36+02:00,0.077,0.066,NaN,NaN
957,2025-06-05 16:56:37+02:00,NaN,NaN,62.0,NaN
958,2025-06-05 16:56:38+02:00,0.077,0.066,NaN,NaN
959,2025-06-05 16:56:41+02:00,0.123,0.266,NaN,1.7
960,2025-06-05 16:56:42+02:00,NaN,NaN,63.0,NaN

In [54]:
def aggregate_data(df):
    df['time'] = pd.to_datetime(df['time']).dt.tz_localize(None)

    # Floor timestamps to the nearest second
    df['timestamp'] = df['time'].dt.floor('1s')
    
    # Group by the rounded time and average
    return df.groupby('timestamp').mean().reset_index()

In [55]:
comedy_data_agg = aggregate_data(comedy_data)
documentary_data_agg = aggregate_data(documentary_data)
horror_data_agg = aggregate_data(horror_data)

In [68]:
comedy_data_final = comedy_data_agg.drop(['time'], axis=1)
documentary_data_final = documentary_data_agg.drop(['time'], axis=1)
horror_data_final = horror_data_agg.drop(['time'], axis=1)

In [71]:
horror_data_final

type,timestamp,active_energy_burned,basal_energy_burned,heart_rate,physical_effort
0,2025-06-05 17:58:54,0.077,0.066,56.0,NaN
1,2025-06-05 17:58:56,0.077,0.066,NaN,NaN
2,2025-06-05 17:58:59,0.077,0.066,NaN,NaN
3,2025-06-05 17:59:00,NaN,NaN,54.0,NaN
4,2025-06-05 17:59:01,0.077,0.066,NaN,NaN
...,...,...,...,...,...
960,2025-06-05 18:30:04,0.077,0.066,NaN,NaN
961,2025-06-05 18:30:06,0.077,0.066,52.0,NaN
962,2025-06-05 18:30:09,0.077,0.066,NaN,NaN
963,2025-06-05 18:30:10,NaN,NaN,53.0,NaN
964,2025-06-05 18:30:13,NaN,NaN,54.0,NaN

In [72]:
comedy_data_final.to_csv('../data_collection/generated_data/comedy_aw.csv', index=False)
documentary_data_final.to_csv('../data_collection/generated_data/documentary_aw.csv', index=False)
horror_data_final.to_csv('../data_collection/generated_data/horror_aw.csv', index=False)